*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box !important; 
    overflow-x: hidden !important;
    margin: 0;
}

body{
    overflow: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.72;
    font-style: normal;
    word-wrap: break-word;
}

/* Navigation Bar */
.nav{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}



.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    font-size: large;
}

li:hover{
    color: #266FB9;
}


.nav-item{
    margin-left: 25px;
    list-style-type: none;

}



/* Section 02 */
.section-1{
    background-image: linear-gradient(
      to left,
      rgba(200, 200, 255, 0),
      rgba(0, 71, 171, 0.9)
    ),
    url(./asset/bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    line-height: 1.24;
}

.section-1-title{
    font-size: 4rem;
    margin-bottom: 3rem;
}

.section-2-paragraph{
    font-size: 1.2rem;
    margin-bottom: 1.8rem ;
}


.btn-s2{
    margin-top: 5px;
    padding: 20px;
    background-color: #F4F6F6;
    outline: none;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #43dfdf;
}

.section-1-btn-1{
    color: #246DB8;
}

.section-1-btn-2{
    background-color: #075AAE;
    color: white;
}

.section-2{
    background-color: #F4F6F6;
    padding: 3%;
}

.sec-2-title{
    text-align: center;
    font-size: 20px;
    text-decoration-color: #000428;
    margin: 10px;
}

.card-section-3-item-description{
    text-shadow: #000428;
    margin: 50px 0px;
    text-align: justify;
    word-wrap: break-word;
}


.sec-2-logo{
    text-align: center;
}

.section-3{
    padding: 6% 2%;
    text-align: center;
}

.section-3-title{
    font-size: 3rem;
    margin-top: 1rem;
}

.section-3-paragraph{
   font-size: 1.5rem;
   width: 50vw;
   margin-left: calc(25%);
   margin-bottom: 2.5rem;
}
.card-section-3{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 4%;
}

.card-section-3-item{
    padding: 5% 4%;
    background-color: #075AAE;
    margin: 10px;
    color: #ffffff;
    height: 80vh;
    width: 28vw;
}


.card-section-3-btn{
    background-color:#075AAE;
    border: 1px solid #ffffff;
    color: #ffffff;
}


.section-3-card-2{
    margin: 10px;
    display: flex;
}

.section-3-card-2-item{
    background-color: #F4F6F6;
    margin: 4%;
    text-align: left;
    padding: 7% 3%;
    
}

.section-3-card-2-icon{
    width: 150px;
    justify-items: end;
    margin-top: 100px;
}

.section-3-card-2-item-right{
    display: flex;
}

.section-4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    background-image: linear-gradient(
      to right,
      rgba(200, 200, 255, 0),
      rgba(0, 71, 171, 0.9)
    ),
    url(./asset/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.section-5-cover
{
    background-color: #F4F6F6;
    display: flex;
}
.section-5{
    display: flex;
    background-color: #FFFFFF;
    margin: 10% 5%;
}

.section-5-part-1{
    padding: 5%;
    color: #000000;
    width: 60vw;
   
}
.section-5-part-2{
    width: 40vw;
    background-color: #F4F6F6;
}


.section-6
{
    background-color: #075AAE;
    display: flex;
    justify-content: center;
    padding: 10%;
}

.section-6-description
{
    color: white;
    font-size: 45px;
    width: 70%;
    text-align: center;
}

/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
    background-color: #F4F6F6;
}