
<div class="news-feed">
    <div class="main-section">
       
        <app-post [Post]="Post" ></app-post>
    </div>
    
    <div class="right-section">
        <div>
            <div class="sidebar-title">
                <h4>Events</h4>
                <a  href="#">See All</a>
            </div>
        
            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="right-event">
                    <h4>Social Media</h4>
                    
                    <p><i class="fa-solid fa-location-dot"></i>   Willson Tech Park</p>
                    <a href="#" >More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="right-event">
                    <h4>Social Media</h4>
                    
                    <p><i class="fa-solid fa-location-dot"></i>   Willson Tech Park</p>
                    <a href="#" >More Info</a>
                </div>
            </div>
        
            <div class="sidebar-title">
                <h4>Tags</h4>
                <a  href="#">Close</a>
            </div>
        </div>
    </div>
</div>
