mat-toolbar
{
    background-color: white;
}
.example-form
{
    width: 450px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.example-full-width
{
    width: 100%;
}

.example-button-row
{
    margin-top: 15px;
}

.example-button-row button
{
    margin-right: 10px;
}

/* input 
{
    padding: 20px;
    width: 100%;
    margin:2% 0%;
    outline: none;
    border: 1px solid wheat;
    font-size: 20px;
    
} */