

<form [formGroup]="loginFrom" (ngSubmit)="onSubmit()" class="example-form">
    <mat-toolbar>
       <p>Login</p> 
    </mat-toolbar>
   
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" 
             matInput  
             formControlName = "userName"
             placeholder="Ex. pat@example.com">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" 
             matInput  
             formControlName = "password"
             placeholder="Ex. pat@example.com">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

      <section>
        <div class="example-button-row">
           <button type="reset" mat-raised-button color="accent">Reset</button>
           <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </section>

      <section>CREATE A NEW ACCOUNT ? 
           <button  routerLink="/signup" routerLinkActive="active" mat-raised-button>Sign-up</button> 
      </section>
     
  </form>





  